
body {
	background-image: url("../images/starring.png");
}

.jumbotron {
    color: #fff;
    background-color:rgba(255, 255, 255, 0.15);
    
}

#gameSection, #scoreSection {
    background-color: rgba(255, 255, 255, 0.15);
	margin-left: auto;
	margin-right: auto;
}
#button-1, #button-3, #button-4, #button-2{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
#randomNumber {
    color: #fd00c6;
}
#totalNumber {
    color: #00ecfd;
}


#buttonSection {
    
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 25px;
}

/* Fonts */
h1, h2, h3 {
	font-family: 'Monoton', cursive;
}

#titleOne {
    color: rgb(157, 255, 0);
}
h2, h3 {
    color: rgb(157, 255, 0);
}

p {
	font-family: 'Ek Mukta', sans-serif;
}

.numberBox {
	font-size: 100px;
	margin: 0px;
}

/* images for buttons */
.icons {
   
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
  	margin:10px;
}